nav.top-nav{
    background-color: yellow;
    position:fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0x 4px 4px blue;
    color:#000;
    border-bottom: .25em solid purple;
}

nav [aria-current=page]{
    background-color: #bbb;
    color:#000;
    border-bottom: .25cm solid;
}

main {
    margin-top: 100px;
    margin-left: 2cm;
}

nav.top-nav li{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
    user-select: none;
}

nav.top-nav li:hover{
    text-decoration: underline
}

nav.top-nav ul{
    list-style: none;
}

nav.top-nav .pulldown-menu{
    display: none;
    position: absolute;
    border: 1px solid white;
    background-color: white;
}

nav.top-nav li:hover .pulldown-menu {
    display: block;
}

.project-wrapper{
    padding-right: 5px;
    padding-left: 5px;
    width: 50%px;
    height: 50%px;
}

.project-wrapper li{
    display:inline-block;
    width: 45%;
    padding: 5px;
}

.project-art {
    display:block;
    width: 300px;
    height: 300px;
}

.project-description {
    color: black;
    font-size: medium;
}